
.service-area{
    width: 100%;
    height: 45vh;
    background-position: bottom;
    background-size: cover;
    @include x-small{
        height: 27vh;
    }
    .service-header{
        padding-top: 115px;
        font-size: 50px;
        font-weight: 600;
        color: #fff;
        @include x-small{
            padding-top: 50px;
        }
        @include small{
            padding-top: 150px;
            margin-left: 180px;
        }
        @include medium{
            padding-top: 135px;
            margin-left: 0px;
        }
    }
}
.service-cart{
    background-color: #030f1c;
    color: #fff;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center bottom;   
    padding-bottom: 100px; 
    @include x-small{
        padding-bottom: 50px;
    }
    .service-price{
        padding: 0 70px;
        margin-top: -80px;
        padding-bottom: 120px;
        @include x-small{
            flex-wrap: wrap;
            padding: 0 20px;
        }
        @include small{
            flex-wrap: wrap;
            padding: 0 4px;
        }
        @include large{
            padding: 0 60px;
        }
        @include x-large{
            padding: 0 13px;
        }

        
            .single-price{
                width: 285px;
                height: 410px;
                border-radius: 3px;
                position: relative;
                z-index: 2;
                transition: .7s;
                @include x-small{
                    flex-basis: 100%;
                }
                @include small{
                    flex-basis: 49%;
                }
                @include large{
                    height: 460px;
                }
                @include x-large{
                    flex-basis: 24%;
                    height: 430px;
                }
                h4{
                    font-size: 30px;
                    font-weight: 500;
                    padding: 30px 0;
                    text-transform: uppercase;
                }
                h6{
                    margin: 41px 0 16px;
                    text-transform: uppercase;
                    font-size: 21px;
                    font-weight: 500;
                }
                h5{
                    font-size: 50px;
                    font-weight: 700;
                    color: #fff000;
                    border-color: #fff000;

                }
                .price-list{
                    margin: 46px 0 0;
                    ul{
                        li{
                            padding: 3px 0;
                            i{
                                margin-right: 10px;
                            }
                        }
                    }

                }
                &:nth-child(1)::before{
                    position: absolute;
                    content: "";
                    background-image: url('/assets/img/about_a/price-bg01.png');
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    z-index: -1;
                    background-color: #ff7b3c;
                }
                &:nth-child(1):hover{
                    transform: translateY(-18px);
                    
                }

                &:nth-child(2)::before{
                    position: absolute;
                    content: "";
                    background-color: #ff633c;
                    background-image: url('/assets/img/about_a/price-bg02.png');
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    z-index: -1;
                }
                &:nth-child(2):hover{
                    transform: translateY(-18px);
                    
                }
                &:nth-child(3)::before{
                    position: absolute;
                    content: "";
                    background-color: #ff4e3c;
                    background-image: url('/assets/img/about_a/price-bg03.png');
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    z-index: -1;
                }
                &:nth-child(3):hover{
                    transform: translateY(-18px);
                    
                }
                &:nth-child(4)::before{
                    position: absolute;
                    content: "";
                    background-color: #ff3c45;
                    background-image: url('/assets/img/about_a/price-bg04.png');
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    z-index: -1;
                }
                &:nth-child(4):hover{
                    transform: translateY(-18px);
                    
                }

            }
    }


        .service-purpose{
                
            p{
                padding: 10px 0;
                font-weight: 300;
            }


            .purpose-option{
                padding: 10px 100px;
                @include x-small{
                    flex-wrap: wrap;
                }
                @include small{
                    padding: 10px 25px;
                }
                .single-purpose{
                    @include x-small{
                        flex-basis: 100%;
                    }
                    i{
                        font-size: 35px;
                        color: #fff000;
                        font-weight: 600;
                    }
                    padding-bottom: 20px;
                }
            }
            .or{
                display: inline-block;
                font-size: 20px;
                padding: 0 10px;
            }
        }     



}









.register-left{
    @include x-small{
        display: none;
    }
    @include small{
        display: none;
    }
    @include medium{
        display: block;
        padding: 95px 0;
    }
    @include large{
        padding: 55px 0;
    }
    @include x-large{
        padding: 30px 0;
    }
    @include xx-large{
        padding: 0;
    }
}
.register-right{
    padding: 45px 0;
    position: relative;
    input{
        width: 100%;
        padding: 9px;
        border-radius: 5px;
        border: 2px solid #0891FF;
        &:focus{
            outline: 0;
        }
    }
    &::before{
        content: "";
        position: absolute;
        top: 81px;
        left: 0;
        background-image: url("/assets/img/car_wash/Car\ wash-bro.png");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: -1;
        opacity: 0;
        @include x-small{
            top: 24px;
            height: 85%;
            opacity: 0.4;
        }
        @include small{
            top: 101px;
            height: 60%;
            opacity: 0.5;
        }
        @include medium{
            display: none;
        }

    }
    .signup-btn{
        width: 85px;
        margin: 10px 0;
        color: #fff;
        background: #0891FF;
        font-weight: 600;
        &:hover{
            background-color: #333;
            border: 2px solid #333;
        }
    }
}
